.hidden {
    margin-right: -25rem;
}

#chat_wrapper {
    display: flex;
    width: 100vw;
    min-height: calc(100vh - 4rem - 9.5rem);
    margin-top: 4rem;
    user-select: none;
}

.chat_navbar_container {
    display: flex;
    flex-direction: column;
    min-width: 25rem;
    border-right: 2px solid rgb(242, 243, 249);
    transition: margin-right 1s ease;
}

#chat_box_container {
    width: 100%;
}

@media screen and (max-width: 670px) {
    .chat_navbar_container {
        min-width: 100vw;
    }

    .hidden {
        margin-right: -100vw;
        z-index: -10;
    }

    #chat_wrapper {
        overflow-x: hidden;
    }
}