#matcher_wrapper {
    display: flex;
    justify-content: center;
    width: 100vw;
    min-height: calc(100vh - 5rem - 9.5rem);
    margin-top: 5rem;
    user-select: none;
}

#matcher_container {
    width: 75%;
}

#searchbar_container {
    width: 97%;
    display: flex;
    min-height: 50px;
    align-items: center;
    background: #FFFFFF;
    border-bottom: solid 2px rgb(242, 243, 249);
    margin: 1rem;
}

#settings_container {
    display: flex;
    min-width: 20rem;
    flex-direction: column;
    margin: 1rem;
    z-index: 8;
}

#content_container {
    display: flex;
}

#matchlist_container {
    margin: 1rem;
}


@media screen and (max-width: 1440px) {
    #matcher_container {
        width: 90%;
    }
}

@media screen and (max-width: 1024px) {
    #matcher_container {
        width: 100%;
    }

    #searchbar_container {
        width: 95%;
    }
}

@media screen and (max-width: 768px) {
    #matcher_wrapper {
        margin-top: 4rem;
    }

    #content_container {
        flex-direction: column;
        align-items: center;
    }

    #settings_container {
        width: 90%;
        margin: 0.5rem;
        align-items: center;
    }

    #searchbar_container {
        width: 90%;
        margin: 0.5rem 0 0.5rem 1.35rem;
    }
}

@media screen and (max-width: 425px) {
    #searchbar_container {
        width: 90%;
        margin: 0.5rem 1.20rem;
    }
}

@media screen and (max-width: 375px) {
    #settings_container {
        z-index: 0;
    }
}
