#matcher_container {
    width: 100vw;
    height: calc(100vh - 5rem - 9.5rem);
    margin-top: 5rem;
    user-select: none;
}

#searchbar_container {
    width: 97%;
    display: flex;
    min-height: 50px;
    align-items: center;
    background: #FFFFFF;
    border-bottom: solid 2px rgb(242, 243, 249);
    margin: 1rem;
}

#settings_container {
    display: flex;
    width: 25%;
    flex-direction: column;
    margin: 1rem;
}

#content_container {
    display: flex;
}



#matchlist_container {
    margin: 1rem;
}

@media screen and (max-width: 375px) {
    #matcher_container {
        height: calc(100vh - 4rem - 7rem);
    }
}