#chat_card_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 78vh;
    overflow-y: scroll;
}

#chat_searchbar_excuse_msg {
    text-align: center;
    margin: 1rem;
    font-size: 1.2rem;
    color: #888888;
    font-style: italic;
}

@media screen and (max-width: 475px) {
    #chat_card_wrapper {
        height: 85vh;
    }
}