.chatCard_container {
    position: relative;
    width: 100%;
    display: flex;
    border-bottom: 2px solid rgb(242, 243, 249);
    padding: 0.5rem;
    user-select: none;
    cursor: pointer;
}

.chatCard_container:hover {
    background: #e6e6e6;
}


.chatCard_thumbnail {
    width: 3.5rem;
    height: 3.5rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.chatCard_user {
    display: flex;
    flex-direction: column;
    padding: 0.25rem 0.5rem;
}

.chatCard_info {
    display: flex;
}

.chatCard_user_name {
    margin-bottom: 0.75rem;
    margin-right: 0.5rem;
}

.chatCard_notif {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    min-width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    color: white;
    border: none;
    background: #FF1744;
}

.chatCard_last_msg {
    color: #666666;
    font-size: 0.85rem;
}

.chatCard_date {
    position: absolute;
    padding: 0.25rem;
    top: 0;
    right: 0;
    color: #888;
    font-size: 0.75rem;
}