@import url('https://fonts.googleapis.com/css?family=Rubik');

.navbar {
    position: fixed;
    width: 100vw;
    height: 4rem;
    display: grid;
    grid-template-columns: 2fr 10fr 1fr 10fr 2fr;
    grid-template-areas: "empty1 left middle right empty2";
    transition: .4s;
    z-index: 10;
    /*background-color: rgba(0, 0, 0, .5);*/
}

.background {
    /*background-color: rgba(0, 0, 0, .3);*/
}

.blur {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 4rem;
    /*87, 91, 134*/
    background: rgba(30, 29, 29, 0.3);
    filter: blur(3px);
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

.navbar_item {
    display: inline-block;
    margin: 0.5rem 2rem 0.5rem 2rem;
    width: 8rem;
    height: 3rem;
    text-align: center;
    vertical-align: middle;
    line-height: 3rem;
    border-radius: 5px;
    transition: .3s;
}

.hide {
    transform: translateY(-100%);
}

.navbar_item:first-child {
    margin-right: 1rem;
}

.navbar_content_left {
    grid-area: left;
    justify-self: start;
}

.navbar_content_middle {
    grid-area: middle;
    justify-self: center;
}

.logo {
    width: 40px;
    height: 40px;
    margin-top: 0.8rem;
    transition: .3s;
}

.navbar_content_right {
    grid-area: right;
    align-self: center;
    justify-self: end;
}

#profile_container {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1024px) {
    .navbar {
        grid-template-columns: 2fr 8fr 1fr 8fr 2fr;
    }
}

@media screen and (max-width: 970px) {
    .navbar {
        grid-template-columns: 0 8fr 1fr 8fr 0;
    }

    .navbar_content_left {
        justify-self: center;
    }

    .navbar_content_right {
        justify-self: center;
    }

    .navbar a {
        text-decoration: none;
        color: #ffffff;
        font-size: 18px;
        font-family: 'Rubik', sans-serif;
    }

    .navbar_item {
        margin: 0.5rem 2rem;
        width: 4rem;
        height: 3rem;
    }
}

@media screen and (max-width: 530px) {
    .navbar a {
        text-decoration: none;
        color: #ffffff;
        font-size: 18px;
        font-family: 'Rubik', sans-serif;
    }

    .navbar_item {
        margin: 0.5rem;
        width: 4rem;
        height: 3rem;
    }

    .navbar_item:first-child {
        margin-right: 0;
    }
}