/* GENERAL CSS */

@import url('https://fonts.googleapis.com/css?family=Rubik');

p {
    margin: 0;
}

* {
    font-family: Rubik, sans-serif;
}

button {
    border-radius: 25px;
    text-decoration: none;
    outline: none;
}

/* PROFILE PAGE CSS */

#profile .card {
    grid-area: profile_card;
    width: 15rem;
    display: flex;
    flex-direction: column;
    margin-top: -8rem;
}

#profile #profile_pic {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    align-self: center;
    margin: 1rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#profile #name {
    text-align: center;
    font-size: 1.33rem;
}

#profile #username {
    align-self: center;
    color: rgb(173, 172, 178);
    font-style: italic;
}

#profile #gender_container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#profile #gender {
    display: flex;
    flex-direction: row;
}

#profile .fa-mars {
    font-size: 1.8rem;
    color: red;
}

#profile #gender_status {
    align-self: center;
    margin: 0 0.5rem;
    font-size: 1.2rem;
}

#profile #sexuality {
    display: flex;
    flex-direction: row;
}

#profile .fa-venus-mars {
    font-size: 1.5rem;
    color: red;
}

#profile #orientation {
    align-self: center;
    margin: 0 0.5rem;
    font-size: 1.2rem;
}

#profile #infos {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#profile #location {
    display: flex;
    flex-direction: row;
}

#profile .fa-map-marker-alt {
    font-size: 1.2rem;
    color: red;
}

#profile #city {
    align-self: center;
    margin: 0 0.5rem;
    font-size: 1rem;
}

#profile #popularity {
    display: flex;
    flex-direction: row;
}

#profile .fa-star {
    color: gold;
    font-size: 1.2rem;
    margin: 0 0.5rem;
}

#profile #score {
    align-self: center;
    font-size: 1.2rem;
}

#profile #connection_status {
    margin-top: 1rem;
    align-self: center;
}

#profile #status_online::before {
    display: inline-block;
    content: '';
    width: 5px;
    height: 5px;
    margin-right: 0.5rem;
    background: lightgreen;
    border-style: solid;
    border-color: lightgreen;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 2px lawngreen;
}

#profile #status_offline::before {
    display: inline-block;
    content: '';
    width: 5px;
    height: 5px;
    margin-right: 0.5rem;
    background: #FF1744;
    border-style: solid;
    border-color: #FF1744;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 1px red;
}

#profile #interactions {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

#profile #like_button {
    width: 5rem;
    border: solid 2px #9dc5ed;
    background: #FFFFFF;
    cursor: pointer;
    box-shadow: 1px 1px 10px lightgray;
    transition: 0.3s;
}

#profile #like_button:hover {
    box-shadow: 1px 1px 10px #9dc5ed;
}

#profile #unlike_button {
    width: 5rem;
    border: solid 2px #FFFFFF;
    background: #9dc5ed;
    cursor: pointer;
    color: #FFFFFF;
    box-shadow: 1px 1px 10px lightgray;
    transition: 0.3s;
}

#profile #unlike_button:hover {
    box-shadow: 1px 1px 10px #FFFFFF;
}

#profile #report {
    width: 5rem;
    color: white;
    background-color: red;
    cursor: pointer;
    border: solid 1px red;
    transition: 0.3s;
    padding: 0.5rem;
}

#profile #report:hover {
    box-shadow: 1px 1px 10px red;
}

/* MATCH_LIST CSS */

#matchlist_container .card {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 10px;
}

#matchlist_container #profile_pic {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    align-self: center;
    margin: 1rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 10px black;
}
#matchlist_container #name {
    text-align: center;
    font-size: 1.75rem;
}

#matchlist_container #username {
    font-size: 1.15rem;
    align-self: center;
    color: rgb(173, 172, 178);
    font-style: italic;
}

#matchlist_container #gender_container {
    display: flex;
    justify-content: center;
    margin-top: 0.75rem;
}

#matchlist_container #gender {
    display: flex;
    flex-direction: row;
}

#matchlist_container .fa-mars {
    font-size: 2rem;
    color: red;
}

#matchlist_container #gender_status {
    align-self: center;
    margin: 0 0.5rem;
    font-size: 1.5rem;
}

#matchlist_container #sexuality {
    display: flex;
    flex-direction: row;
}

#matchlist_container .fa-venus-mars {
    font-size: 2rem;
    color: red;
}

#matchlist_container #orientation {
    align-self: center;
    margin: 0 0.5rem;
    font-size: 1.5rem;
}

#matchlist_container #infos {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#matchlist_container #location {
    display: flex;
    flex-direction: row;
}

#matchlist_container .fa-map-marker-alt {
    font-size: 1.8rem;
    color: red;
}

#matchlist_container #city {
    align-self: center;
    margin: 0 0.5rem;
    font-size: 1.3rem;
}

#matchlist_container #popularity {
    display: flex;
    flex-direction: row;
}

#matchlist_container .fa-star {
    color: gold;
    font-size: 1.8rem;
    margin: 0 0.5rem;
}

#matchlist_container #score {
    align-self: center;
    font-size: 1.5rem;
}

#matchlist_container #connection_status {
    margin-top: 1rem;
    align-self: center;
}

#matchlist_container #status_online::before {
    display: inline-block;
    content: '';
    width: 5px;
    height: 5px;
    margin-right: 0.5rem;
    background: lightgreen;
    border-style: solid;
    border-color: lightgreen;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 2px lawngreen;
}

#matchlist_container #status_offline::before {
    display: inline-block;
    content: '';
    width: 5px;
    height: 5px;
    margin-right: 0.5rem;
    background: #FF1744;
    border-style: solid;
    border-color: #FF1744;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 1px red;
}

#matchlist_container #interactions {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

#matchlist_container #like_button {
    width: 5rem;
    border: solid 2px #9dc5ed;
    background: #FFFFFF;
    cursor: pointer;
    box-shadow: 1px 1px 10px lightgray;
    transition: 0.3s;
}

#matchlist_container #like_button:hover {
    box-shadow: 1px 1px 10px #9dc5ed;
}

#matchlist_container #unlike_button {
    width: 5rem;
    border: solid 2px #FFFFFF;
    background: #9dc5ed;
    cursor: pointer;
    color: #FFFFFF;
    box-shadow: 1px 1px 10px lightgray;
    transition: 0.3s;
}

#matchlist_container #unlike_button:hover {
    box-shadow: 1px 1px 10px #FFFFFF;
}

#matchlist_container #report {
    width: 5rem;
    color: white;
    background-color: red;
    cursor: pointer;
    border: solid 1px red;
    transition: 0.3s;
    padding: 0.5rem;
}

/* RESEARCH LIST CONTAINER CSS */

#research_list_container .card {
    width: 17rem;
    max-height: 22rem;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 10px;
    border-bottom: solid 2px rgb(242, 243, 249);
    margin: 0.35rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#research_list_container .card:hover {
    box-shadow: 0 10px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#research_list_container #profile_pic {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    align-self: center;
    margin: 1rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 10px black;
}

#research_list_container #name {
    text-align: center;
    font-size: 1.10rem;
}

#research_list_container #username {
    font-size: 0.80rem;
    align-self: center;
    color: rgb(173, 172, 178);
    font-style: italic;
}

#research_list_container #gender_container {
    display: flex;
    justify-content: center;
    margin-top: 0.60rem;
}

#research_list_container #gender {
    display: flex;
    flex-direction: row;
}

#research_list_container .fa-mars {
    font-size: 1.5rem;
    color: red;
}

#research_list_container #gender_status {
    align-self: center;
    margin: 0 0.5rem;
    font-size: 1.10rem;
}

#research_list_container #sexuality {
    display: flex;
    flex-direction: row;
}

#research_list_container .fa-venus-mars {
    font-size: 1.5rem;
    color: red;
}

#research_list_container #orientation {
    align-self: center;
    margin: 0 0.5rem;
    font-size: 1.1rem;
}

#research_list_container #infos {
    display: flex;
    justify-content: center;
    margin-top: 0.60rem;
}

#research_list_container #location {
    display: flex;
    flex-direction: row;
}

#research_list_container .fa-map-marker-alt {
    font-size: 1.2rem;
    color: red;
}

#research_list_container #city {
    align-self: center;
    margin: 0 0.5rem;
    font-size: 1rem;
}

#research_list_container #popularity {
    display: flex;
    flex-direction: row;
}

#research_list_container .fa-star {
    color: gold;
    font-size: 1.2rem;
    margin: 0 0.5rem;
}

#research_list_container #score {
    align-self: center;
    font-size: 1.1rem;
}

#research_list_container #connection_status {
    margin-top: 0.60rem;
    align-self: center;
}

#research_list_container #status_online::before {
    display: inline-block;
    content: '';
    width: 5px;
    height: 5px;
    margin-right: 0.5rem;
    background: lightgreen;
    border-style: solid;
    border-color: lightgreen;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 2px lawngreen;
}

#research_list_container #status_offline::before {
    display: inline-block;
    content: '';
    width: 5px;
    height: 5px;
    margin-right: 0.5rem;
    background: #FF1744;
    border-style: solid;
    border-color: #FF1744;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 1px red;
}

#research_list_container #interactions {
    display: flex;
    justify-content: space-evenly;
    margin: 0.60rem;
}

#research_list_container #profile_button {
    width: 6.5rem;
    background: rgb(70, 95, 196);
    cursor: pointer;
    box-shadow: 1px 1px 10px lightgray;
    transition: 0.3s;
    color: #FFFFFF;
}

#research_list_container #profile_button:hover {
    box-shadow: 1px 1px 10px #9dc5ed;
}

