#google_map_autocomplete_container {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: solid 2px rgb(242, 243, 249);
}

.fa-map-marker-alt {
    align-self: center;
    font-size: 1.5rem;
    color: rgb(234, 87, 107);
}

#google_map_autocomplete {
    width: 70%;
    border-radius: 5px;
    border: none;
    margin: 1rem;
    outline: none;
    text-decoration: none;
}