#chat_input_container {
    position: relative;
    width: 100%;
    background: white;
    height: 4.5%;
    max-height: 4.5%;
}

#chat_input {
    width: 100%;
    border: none;
    outline: none;
    padding: 0.8rem;
}