.display {
    display: block !important;
}

.valid {
    color: lightgreen !important;
}

#reset_wrapper {
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(104,103,246), white);
    display: flex;
    justify-content: center;
    align-items: center;
}

#reset_container {
    width: 50%;
    border-radius: 5px;
    background-color: white;
    text-align: center;
}

#reset_header {
    margin: 0.5rem;
    font-size: 1.5rem;
}

#instructions_container {
    width: 75%;
    text-align: start;
    font-size: 0.8rem;
    display: none;
}

#instructions_container p {
    margin: 0.25rem 0.75rem;
    font-style: italic;
    color: #888888;
}

#instructions_container .fa-check {
    margin-right: 0.25rem;
}

#reset_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.reset_input {
    width: 75%;
    margin: 0.5rem;
    padding: 0.25rem 0.75rem;
    border-radius: 10px;
    border: none;
    background-color: #e6e6e6;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: #666666;
    outline: none;
    box-shadow: 1px 2px 4px lightgrey;
}